.main-img {
    filter: blur(4px);
    -webkit-filter: blur(4px);
    height: 80vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;

}

.welcome h2 {
    font-size: 10em;
    color: var(--mainwhite);
}

.welcome p {
    font-size: 2em;
    color: var(--mainwhite);
}